.streamlit/secrets.toml
__pycache__/
*.pyc
.env
chroma_db/
data/laws/**/*.pdf
!data/laws/kosove/.gitkeep
!data/laws/zrre/.gitkeep
!data/laws/entso-e/.gitkeep
!data/laws/eu/.gitkeep
!data/laws/strategjike/.gitkeep
!data/laws/vendime/.gitkeep
!data/laws/te-tjera/.gitkeep
!data/laws/ligjet/.gitkeep
!data/laws/kontratat/.gitkeep
!data/laws/raportet/.gitkeep
